/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container{
background: linear-gradient(235deg, #fff, #ffb7ce);
} */

.main-container {
  min-height: 100vh;
  width: 100vw;
  background-color: linear-gradient(235deg, #fff, #ffb7ce); /* fallback FIRST */
  background-image: url("/letter-pink.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

